Source: startgxde
Section: admin
Priority: extra
Maintainer: gfdgd xi <3025613752@qq.com>
Build-Depends: debhelper (>= 9), pkg-config, golang-go,
 golang-dlib-dev (>> 1.8.0+) | golang-github-linuxdeepin-go-lib-dev,
 golang-github-linuxdeepin-go-x11-client-dev (>= 0.0.4),
 gxde-api-dev(>> 3.16.0+),
 golang-github-linuxdeepin-go-dbus-factory-dev (>> 0.6.0+),
 golang-github-smartystreets-goconvey-dev,
 golang-gopkg-check.v1-dev,
 libgnome-keyring-dev,
 libxfixes-dev,
 libxcursor-dev,
 jq,
 golang-gxde-dev
Standards-Version: 3.9.5
Homepage: http://github.com/GXDE-OS/startgxde

Package: startgxde
Replaces: startdde
Architecture: any
Provides: x-session-manager, startdde
Depends: ${shlibs:Depends},
 ${misc:Depends},
 deepin-daemon (>> 3.24.1+),
 gnome-keyring,
 libpam-gnome-keyring,
 gvfs-common,
 gxde-wm-shim | deepin-metacity | gxde-kwin-neo | gxde-wlcom,
 gxde-desktop-schemas (>= 3.2.4),
 gxde-api,
 libgnome-keyring0,
 libxfixes3,
 libxcursor1,
 lightdm,
 xdg-desktop-portal-gxde
Recommends: gxde-qt5integration, gxde-qt6integration, gxde-desktop
Conflicts: deepin-session, deepin-wm-switcher, startdde (>> 4.0.1-1)
Breaks: startdde(<= 2.91.1)
Description: start deepin desktop environment
 starter of deepin desktop environment.
